@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}
.upperbar {
    background: linear-gradient(90deg, #fb8416, #fd6d0d, #fe5705, #f74506, #ef400b, #cc2920, #c52324, #c52240, #c92365, #cb246b, #d326a4, #d727c1);
    width: 100%;
    height: 0.6vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.second-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.15rem 0px;
}

.tags {
    margin-left: 32px;
    font-family: 'Poppins';
    font-size: 15px;
}

.links {
    margin-right: 20px;
    font-family: 'Poppins';
    font-size: 15px;
    font: weight 1px;
    ;
}

.links :hover {
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.links ul {
    display: flex;
    justify-content: space-between;
}

.links ul li {
    justify-content: space-between;
    padding: 0 10px;
}

.sub-second-bar {
    height: 4vh;
}

.content {
    min-height: 4rem;
    display: flex;
    align-items: center;
    border: none;
}

.logo {
    padding-left: 2vh;

}

.content .logo {
    font-size: 4vw;
}

.search-bar {
    display: flex;
}

.search-box {
    display: flex;

}

form.bar input[type=text] {

    font-size: 17px;
    border: none;
    text-align: left;
    float: left;
    width: 72vw;
    margin-left: 1.75rem;
    background: #f1f1f1;
    height: 6vh;
}

form.bar button {
    width: 5vw;
    background: rgb(36, 34, 34);
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 6vh;
}

.button :hover {
    color: gray;
    cursor: pointer;
    transition: 0.5s;
}


.b1 {
    margin-left: 2vw;
    border-style: groove;
    border-color: whitesmoke;
    height: 6vh;
    width: 6vw;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;

}

.b2 {
    margin-right: 0.2vw;
    border-style: none;
    border-color: whitesmoke;
    height: 5vh;
    width: 4vw;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;
}


.part-3 {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url(assest/bg-1.png);
    margin-top: 5vh;
    height: 109vh;
    text-align: center;

}

.centre {
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 9rem;
    padding-bottom: 4rem;
    max-width: 48rem;
    line-height: 6rem;
}

.paragraph {
    text-align: center;
    color: rgb(255, 253, 253);
    font-family: 'Poppins';
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
}

.heading-3 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29.880px;
    margin-bottom: 29.880px;
    color: white;
    display: block;
    font-size: 2.25rem;
    line-height: 1.25;
    max-width: 38rem;
}

.p-2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 35rem;
}

.buttons {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
    color: white;
    margin-top: 45px;
}

.button-1 {
    border: none;
    height: 7vh;
    width: 15rem;
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(255, 195, 41);
    box-shadow: 0px 10px 30px rgb(0 0 0 / 40%);
    color: #000000;
}

.button-1 a {
    color: black;
    font-weight: 850;
    font-size: 15px;
}

.button-2 {
    border: 1px solid white;
    background-color: rgb(203, 56, 55);
    width: 15rem;
    height: 55px;
    border-radius: 30px;
    margin-right: 50px;
}

.button-2 a {
    color: white;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Poppins';

}

.section-2 {
    height: 32rem;
    padding: 64px 16px 64px 16px;
    background-color: rgb(251, 251, 251);
    margin-top: auto;
    margin-bottom: 6rem;
    align-items: center;
    justify-content: center;
}

.heading-2 {
    align-items: center;
    line-height: 1.5;
}

.title {
    font-family: 'Poppins';
    font-weight: 700;
    max-width: 38rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25rem;
    line-height: 1.25;
    color: rgb(43, 42, 42);
    max-width: 30rem;
    margin-top: 29px;
    margin-bottom: 29px;
}

.p-3 {
    font-family: sans-serif;
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    display: block;

}

.section-3 {
    background-image: linear-gradient(270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url(assest/bg-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 16px 64px 16px;
    height: 20rem;
}

.heading-4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-2 {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 39.8px;
}

.p-4 {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    line-height: 1.25;
    font-family: sans-serif;
}

.section-4 {
    height: 20rem;
    text-align: center;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 32px 16px;
}

.section-4 h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 4rem;
    font-family: sans-serif;
    color: #333;
    text-align: center;
}

footer {

    background-color: white;
    padding-top: 17px;
    border-top: solid rgb(212, 212, 235);
    border-width: 0.2px;
    text-align: center;
    font-family: 'Poppins';

}

.link-icon {
    font-size: 3.5rem;
}


.row {
    display: flex;
    padding-bottom: 70px;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-col {
    width: 50%;
    padding: 20px;
    margin-left: 4rem;
    text-align: left;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 800;
    color: rgb(16, 15, 15);
    text-transform: capitalize;
    margin-bottom: 25px;
}

.footer-col ul li a {
    font-size: 17px;
    letter-spacing: 1.3px;
    color: #333333;
    margin-inline: 0px;
    margin-block: 1rem;
    font-weight: normal;
    display: block;
}